@font-face {
  font-family: mexicanFont;
  src: url(./fonts/mexican\ fiesta.ttf);
}

html {
  box-sizing: border-box;
  font-size: 35px;
  font-family: mexicanFont;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  min-height: 100vh;
  background-image: url("../src/images/background.jpeg");
  background-size: cover;
  background-position: center;
}

header {
  position: relative;
  background-color: black;
  opacity: 0.8;
  padding: 20px;
}

.img01 {
  position: absolute;
  left: 420px;
  top: 40px;
}

.img02 {
  position: absolute;
  right: 450px;
  top: 40px;
}

.img01 img,
.img02 img {
  height: 150px;
  transform: rotate(-30deg);
}

h1 {
  text-align: center;
  color: white;
  padding: 0;
  margin: 10px 0;
}

nav {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

li > a {
  text-decoration: none;
  color: white;
}

a:hover {
}
