html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  min-height: 100vh;
  background-image: url("../src/images/background.jpeg");
  background-size: cover;
  background-position: center;
}

header {
  position: relative;
  background-color: black;
  opacity: 0.5;
  padding: 20px;
}

.header-img {
  position: absolute;
  left: 50px;
  top: 100px;
}

h1 {
  text-align: center;
  color: white;
}

nav {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

li > a {
  text-decoration: none;
  color: white;
}

.header-img img {
  height: 200px;
}
