/* --- Fonts --- */

@font-face {
  font-family: "Mexican Tequila";
  src: url(./fonts/MexicanTequila.ttf) format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Mexican Tequila Italic";
  src: url(./fonts/MexicanTequila-Italic.ttf) format("truetype");
  font-weight: 800;
}

html {
  box-sizing: border-box;
  font-size: 35px;
  font-family: "Mexican Tequila";
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* --- Element Selectors */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  min-height: 100vh;
  background-image: url("../src/images/background.jpeg");
  background-size: cover;
  background-position: center;
}

header {
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
}

h1 {
  font-family: "Mexican Tequila";
  text-align: center;
  color: rgb(80, 228, 179);
  padding: 0;
  margin: 10px 0;
}

h2 {
  font-family: "Mexican Tequila";
  text-align: center;
  color: rgb(80, 228, 179);
  padding: 0;
  margin: 10px 0;
}

nav {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  transition: all 0.4s;
  padding: 5px;
  padding-bottom: 4px;
  border-bottom: 2px solid white;
}

li > a {
  text-decoration: none;
  color: white;
}

li:hover {
  transform: scale(1.3);
}

article {
  width: 500px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  margin: 10px;
}

article p {
  font-family: "Mexican Tequila Italic";
  color: white;
}

/* --- Class Selectors --- */

.img01 {
  position: absolute;
  left: 310px;
  top: 40px;
}

.img02 {
  position: absolute;
  right: 310px;
  top: 40px;
}

.img01 img {
  height: 150px;
  transform: rotate(-30deg);
}

.img02 img {
  height: 150px;
  transform: rotate(30deg);
}

/* --- ID Selectors --- */

#content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
